* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background: #f4f7f8;
}

/* Meme Box */
.meme-container {
  max-width: 440px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Meme Content */
.meme-content {
  margin-bottom: 25px; /* GAP BETWEEN MEME & BUTTONS */
}

.meme-title {
  font-size: 22px;
  margin: 0;
}

.author {
  font-size: 12px;
  color: #555;
}

img {
  width: 100%;
  border-radius: 12px;
  margin: 12px 0;
}

img:not([src]) {
  display: none;
}

/* Buttons Bottom Area */
.meme-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Next Meme Button */
.generate-button {
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-weight: 700;
}

/* Download Button */
.Btn {
  width: 50px;
  height: 50px;
  border: 2px solid #d6d6d6;
  border-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.svgIcon {
  fill: #444;
  width: 18px;
}

/* SHARE */
.share-button {
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-weight: 700;
}

.share-button:hover,
.generate-button:hover {
  background: #f0f0f0;
}

/* Toast */
#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  opacity: 0;
  transition: 0.4s;
}

#toast.show {
  opacity: 1;
}